.messageDisplay {
    display: flex;
    align-items: center;
    padding: 20px;
}

.messageText {
    margin-left: 10px;
    background: linear-gradient(45deg, #dcdbd8, #bcbbb8);
    /*background-color: lightgray;*/
    padding: 15px;
    border-radius: 20px;
}

.messageTimestamp {
    text-align: center;
    padding: 20px;
    color: gray;
}

.userText {
    margin-left: auto;
    background: linear-gradient(45deg, #d2c293, #f6dd85);
    /*background-color: rgba(188, 179, 139, 0.982);*/
    padding: 15px;
    border-radius: 20px;
    color: white;
}

.messageInput {
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
}

.inputField {
    flex: 1;
    padding: 10px;
    border: none;
}

.inputButton {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    /*border: none;*/
    margin-right: 20px;
    /*background-color: white;*/
    font-weight: bolder;
    /*color: linear-gradient(45deg, #d2c293, #f6edcb);*/
    background: linear-gradient(45deg, #d2c293, #f6edcb);
    padding: 3px 8px;
    border-radius: 70px;
    border: none;
}