.messageDisplay {
    display: flex;
    align-items: center;
    padding: 20px;
}

.messageText {
    margin-left: 10px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
}

.messageTimestamp {
    text-align: center;
    padding: 20px;
    color: gray;
}

.userText {
    margin-left: auto;
    background-color: rgba(188, 179, 139, 0.982);
    padding: 15px;
    border-radius: 20px;
    color: white;
}

.messageInput {
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
}

.inputField {
    flex: 1;
    padding: 10px;
    border: none;
}

.inputButton {
    border: none;
    margin-right: 20px;
    background-color: white;
    font-weight: bolder;
    color: rgba(172, 157, 96, 0.982);
}